<!-- Banner Section -->
<%= render 'shared/banner' %>

<!-- Navbar Section -->
<%= render 'shared/navbar' %>

<!-- Flash Message -->
<%= render 'shared/flashes' %>

<!-- Shipment Search Box -->
<section class="bg-gray-100">
  <div class="max-w-3xl px-6 py-16 mx-auto text-center items-center">
    <h1 class="text-3xl font-semibold text-gray-800">Track your shipment</h1>
    <p class="max-w-md mx-auto mt-5 text-gray-500">Please input your Tracking ID below</p>

    <div class="flex text-center items-center justify-center mt-5 space-y-3 sm:space-y-0 sm:-mx-2">
      <%= form_tag(tracking_path, method: :get) do %>
        <%= text_field_tag :tracking_id, params[:tracking_id], class: "px-4 py-2 text-gray-700 bg-white border rounded-md sm:mx-2 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40", placeholder: "Tracking ID" %>
        <%= submit_tag 'Search', class: "w-auto px-6 py-3 mt-6 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-500 rounded-md hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50" %>
      <% end %>
    </div>
  </div>
</section>

<!-- Search Result -->
<% if @air_shipments.present? || @ocean_shipments.present? %>
<section class="bg-cover bg-center bg-gray-100 pb-12">
  <div class="container flex flex-col flex-1 px-5 py-5 my-5 mx-auto">
    <div class="w-full px-8 py-10 mx-auto overflow-hidden bg-white shadow-2xl rounded-xl">

      <% if @air_shipments.present? %>
        <% @air_shipments.each do |air_shipment| %>
          <h1 class="text-3xl font-medium text-gray-700 py-6">Air Shipment Details</h1>
          <dl class="grid grid-cols-4 sm:grid-cols-2 -my-3 divide-y divide-gray-100 text-sm">
            <div class="grid grid-cols-2 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
              <dt class="text-l font-medium text-gray-900">TRACKING CODE</dt>
              <dd class="text-l text-gray-700 sm:col-span-2"><%= air_shipment.tracking_id %></dd>
            </div>

            <div class="grid grid-cols-2 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
              <dt class="text-l font-medium text-gray-900">CURRENT STATUS</dt>
              <dd class="text-l text-gray-700 sm:col-span-2"><%= air_shipment.status %></dd>
            </div>

            <div class="grid grid-cols-2 gap-1 py-3 sm:grid-cols-3 sm:gap-4 bg-gray-100 bg-opacity-80 hover:bg-opacity-90">
              <dt class="text-l font-medium text-gray-900">Reference No</dt>
              <dd class="text-l text-gray-700 sm:col-span-2"><%= air_shipment.reference_number %></dd>
            </div>

            <div class="grid grid-cols-2 gap-1 py-3 sm:grid-cols-3 sm:gap-4 bg-gray-100 bg-opacity-80 hover:bg-opacity-90">
              <dt class="text-l font-medium text-gray-900">AWB</dt>
              <dd class="text-l text-gray-700 sm:col-span-2"><%= air_shipment.hawb_number %></dd>
            </div>

            <div class="grid grid-cols-2 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
              <dt class="text-l font-medium text-gray-900">Consignee/ Notify Party</dt>
              <dd class="text-l text-gray-700 sm:col-span-2"><%= air_shipment.consignee %></dd>
            </div>

            <div class="grid grid-cols-2 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
              <dt class="text-l font-medium text-gray-900">Volume (CBM)</dt>
              <dd class="text-l text-gray-700 sm:col-span-2"><%= number_with_precision(air_shipment.cbm, precision: 2) %></dd>
            </div>

            <div class="grid grid-cols-2 gap-1 py-3 sm:grid-cols-3 sm:gap-4 bg-gray-100 bg-opacity-80 hover:bg-opacity-90">
              <dt class="text-l font-medium text-gray-900">Flight No</dt>
              <dd class="text-l text-gray-700 sm:col-span-2"><%= air_shipment.flight_number %></dd>
            </div>

            <div class="grid grid-cols-2 gap-1 py-3 sm:grid-cols-3 sm:gap-4 bg-gray-100 bg-opacity-80 hover:bg-opacity-90">
              <dt class="text-l font-medium text-gray-900">Origin Airport</dt>
              <dd class="text-l text-gray-700 sm:col-span-2"><%= air_shipment.pol %></dd>
            </div>

            <div class="grid grid-cols-2 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
              <dt class="text-l font-medium text-gray-900">Destination Airport</dt>
              <dd class="text-l text-gray-700 sm:col-span-2"><%= air_shipment.pod %></dd>
            </div>

            <div class="grid grid-cols-2 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
              <dt class="text-l font-medium text-gray-900">ETA</dt>
              <dd class="text-l text-gray-700 sm:col-span-2"><%= air_shipment.eta %></dd>
            </div>

            <div class="grid grid-cols-2 gap-1 py-3 sm:grid-cols-3 sm:gap-4 bg-gray-100 bg-opacity-80 hover:bg-opacity-90">
              <dt class="text-l font-medium text-gray-900">Final Place of Delivery</dt>
              <dd class="text-l text-gray-700 sm:col-span-2"><%= air_shipment.dest %></dd>
            </div>

            <div class="grid grid-cols-2 gap-1 py-3 sm:grid-cols-3 sm:gap-4 bg-gray-100 bg-opacity-80 hover:bg-opacity-90">
              <dt class="text-l font-medium text-gray-900">Trust Freight Contact</dt>
              <dd class="text-l text-gray-700 sm:col-span-2"><%= air_shipment.pic %></dd>
            </div>
          </dl>
        <% end %>
      <% end %>

      <% if @ocean_shipments.present? %>
        <% @ocean_shipments.each do |ocean_shipment| %>
          <h1 class="text-3xl font-medium text-gray-700 py-6">Ocean Shipment Details</h1>
          <dl class="grid grid-cols-4 sm:grid-cols-2 -my-3 divide-y divide-gray-100 text-sm">
            <div class="grid grid-cols-2 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
              <dt class="text-l font-medium text-gray-900">TRACKING CODE</dt>
              <dd class="text-l text-gray-700 sm:col-span-2"><%= ocean_shipment.tracking_id %></dd>
            </div>

            <div class="grid grid-cols-2 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
              <dt class="text-l font-medium text-gray-900">CURRENT STATUS</dt>
              <dd class="text-l text-gray-700 sm:col-span-2"><%= ocean_shipment.status %></dd>
            </div>

            <div class="grid grid-cols-2 gap-1 py-3 sm:grid-cols-3 sm:gap-4 bg-gray-100 bg-opacity-80 hover:bg-opacity-90">
              <dt class="text-l font-medium text-gray-900">Reference No</dt>
              <dd class="text-l text-gray-700 sm:col-span-2"><%= ocean_shipment.reference_number %></dd>
            </div>

            <div class="grid grid-cols-2 gap-1 py-3 sm:grid-cols-3 sm:gap-4 bg-gray-100 bg-opacity-80 hover:bg-opacity-90">
              <dt class="text-l font-medium text-gray-900">BOL No</dt>
              <dd class="text-l text-gray-700 sm:col-span-2"><%= ocean_shipment.hbl_number %></dd>
            </div>

            <div class="grid grid-cols-2 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
              <dt class="text-l font-medium text-gray-900">Consignee/ Notify Party</dt>
              <dd class="text-l text-gray-700 sm:col-span-2"><%= ocean_shipment.consignee %></dd>
            </div>

            <div class="grid grid-cols-2 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
              <dt class="text-l font-medium text-gray-900">Shipment Type</dt>
              <dd class="text-l text-gray-700 sm:col-span-2"><%= ocean_shipment.shipment_type %></dd>
            </div>

            <div class="grid grid-cols-2 gap-1 py-3 sm:grid-cols-3 sm:gap-4 bg-gray-100 bg-opacity-80 hover:bg-opacity-90">
              <dt class="text-l font-medium text-gray-900">Container No</dt>
              <dd class="text-l text-gray-700 sm:col-span-2"><%= ocean_shipment.container_number %></dd>
            </div>

            <div class="grid grid-cols-2 gap-1 py-3 sm:grid-cols-3 sm:gap-4 bg-gray-100 bg-opacity-80 hover:bg-opacity-90">
              <dt class="text-l font-medium text-gray-900">Container Size</dt>
              <dd class="text-l text-gray-700 sm:col-span-2"><%= ocean_shipment.container_size %></dd>
            </div>

            <div class="grid grid-cols-2 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
              <dt class="text-l font-medium text-gray-900">Volume (CBM)</dt>
              <dd class="text-l text-gray-700 sm:col-span-2"><%= number_with_precision(ocean_shipment.cbm, precision: 2) %></dd>
            </div>

            <div class="grid grid-cols-2 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
              <dt class="text-l font-medium text-gray-900">Weight (KG)</dt>
              <dd class="text-l text-gray-700 sm:col-span-2"><%= number_with_precision(ocean_shipment.gross_weight, precision: 2) %></dd>
            </div>

            <div class="grid grid-cols-2 gap-1 py-3 sm:grid-cols-3 sm:gap-4 bg-gray-100 bg-opacity-80 hover:bg-opacity-90">
              <dt class="text-l font-medium text-gray-900">Vessel Name</dt>
              <dd class="text-l text-gray-700 sm:col-span-2"><%= ocean_shipment.vessel %></dd>
            </div>

            <div class="grid grid-cols-2 gap-1 py-3 sm:grid-cols-3 sm:gap-4 bg-gray-100 bg-opacity-80 hover:bg-opacity-90">
              <dt class="text-l font-medium text-gray-900">Voyage</dt>
              <dd class="text-l text-gray-700 sm:col-span-2"><%= ocean_shipment.voyage %></dd>
            </div>

            <div class="grid grid-cols-2 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
              <dt class="text-l font-medium text-gray-900">Port of Loading</dt>
              <dd class="text-l text-gray-700 sm:col-span-2"><%= ocean_shipment.pol %></dd>
            </div>

            <div class="grid grid-cols-2 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
              <dt class="text-l font-medium text-gray-900">Port of Arrival</dt>
              <dd class="text-l text-gray-700 sm:col-span-2"><%= ocean_shipment.pod %></dd>
            </div>

            <div class="grid grid-cols-2 gap-1 py-3 sm:grid-cols-3 sm:gap-4 bg-gray-100 bg-opacity-80 hover:bg-opacity-90">
              <dt class="text-l font-medium text-gray-900">ETA at Port</dt>
              <dd class="text-l text-gray-700 sm:col-span-2"><%= ocean_shipment.eta %></dd>
            </div>

            <div class="grid grid-cols-2 gap-1 py-3 sm:grid-cols-3 sm:gap-4 bg-gray-100 bg-opacity-80 hover:bg-opacity-90">
              <dt class="text-l font-medium text-gray-900">Actual Arrival at Port</dt>
              <dd class="text-l text-gray-700 sm:col-span-2"><%= ocean_shipment.ata %></dd>
            </div>

            <div class="grid grid-cols-2 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
              <dt class="text-l font-medium text-gray-900">Final Place of Delivery</dt>
              <dd class="text-l text-gray-700 sm:col-span-2"><%= ocean_shipment.dest %></dd>
            </div>

            <div class="grid grid-cols-2 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
              <dt class="text-l font-medium text-gray-900">Trust Freight Contact</dt>
              <dd class="text-l text-gray-700 sm:col-span-2"><%= ocean_shipment.pic %></dd>
            </div>
          </dl>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
<% end %>

<script>
    // Hiding Banner
    function hideBanner() {
        var banner = document.getElementById('banner');
        banner.style.display = 'none';
    }

    // Hiding flash message
    function hideFlash() {
        var flash_message = document.getElementById('flash_message');
        flash_message.style.display = 'none';
    }
</script>