<!-- Banner Section -->
<%= render 'shared/banner' %>

<!-- Navbar Section -->
<%= render 'shared/navbar' %>

<!-- Flash Message -->
<%= render 'shared/flashes' %>

<!-- Header Section -->
<div class="relative isolate overflow-hidden bg-gray-900 py-12 sm:py-12">
  <img src="<%= asset_path('index_header.jpg') %>" alt="" class="absolute inset-0 -z-10 size-full object-cover object-right md:object-center opacity-70">
  <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
    <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
    <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>

  <div class="mx-auto max-w-7xl px-6 lg:px-12 lg:py-8 bg-gray-600 rounded-xl bg-opacity-80 hover:bg-opacity-90">
    <div class="mx-auto max-w-7xl lg:mx-0 pt-5 sm:pt-4">
      <div class="container flex flex-col px-6 py-0 mx-auto lg:flex-row lg:items-center">
        <div class="w-full lg:h-96 lg:w-1/3 lg:pt-24">
          <img class="object-cover w-full h-auto mx-auto rounded-md lg:max-w-2xl" src="<%= asset_path('icon.png') %>" alt="Trustfreight Global">
        </div>

        <div class="w-full lg:w-2/3 lg:mx-4">
          <h2 class="text-2xl font-extrabold text-center sm:text-6xl">
        <span class="text-white">
          Your
        </span>
            <span class="text-transparent bg-gradient-to-br bg-clip-text from-teal-500 via-indigo-500 to-sky-500">
          Trusted
        </span>
            <span class="text-transparent bg-gradient-to-tr bg-clip-text from-teal-500 via-indigo-500 to-sky-500">
          Freight
        </span>
            <span class="text-white">
          Solutions Provider
        </span>
          </h2>
          <p class="mt-8 text-lg font-medium text-white sm:text-xl/8">Trustfreight Global provides customized logistics solutions by integrating International Freight Forwarding, Customs Brokerage, and Warehousing Services under one roof—services you can rely on. We offer expert logistics solutions tailored to your needs, delivering the most
            <a class="font-bold text-blue-300">Cost-effective, Reliable, and Efficient </a>options.
          </p>
        </div>
      </div>
    </div>

    <div class="mx-auto mt-10 max-w-6xl lg:mx-0 lg:max-w-none">
      <dl class="mt-10 grid grid-cols-1 gap-8 sm:mt-12 sm:grid-cols-2 lg:grid-cols-4">
        <div class="flex flex-col-reverse gap-1">
          <dt class="text-base/7 text-gray-300">Years of Experience</dt>
          <dd class="text-4xl font-semibold tracking-tight text-white">30+</dd>
        </div>
        <div class="flex flex-col-reverse gap-1">
          <dt class="text-base/7 text-gray-300">On-time Performance</dt>
          <dd class="text-4xl font-semibold tracking-tight text-white">99.7%</dd>
        </div>
        <div class="flex flex-col-reverse gap-1">
          <dt class="text-base/7 text-gray-300">Cities Covered</dt>
          <dd class="text-4xl font-semibold tracking-tight text-white">60+</dd>
        </div>
        <div class="flex flex-col-reverse gap-1">
          <dt class="text-base/7 text-gray-300">Active Clients</dt>
          <dd class="text-4xl font-semibold tracking-tight text-white">500+</dd>
        </div>
      </dl>
      <div class="mx-auto items-center justify-center text-lg text-white mt-10 sm:mt-12 pb-5 sm:pb-4 lg:mx-0 lg:max-w-none flex">
        <button type="button" class="text-white bg-blue-700 hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg px-4 py-2 text-center"><%= link_to 'Contact Us', contact_path %></button>
      </div>
      <!-- <div class="grid grid-cols-1 gap-x-8 gap-y-6 text-lg font-semibold text-white sm:grid-cols-2 md:flex lg:gap-x-10"> -->
        <!-- <a href="/contact">Contact Us <span aria-hidden="true">&rarr;</span></a>-->
        <!-- <a href="#">Internship program <span aria-hidden="true">&rarr;</span></a>-->
        <!-- <a href="#">Our values <span aria-hidden="true">&rarr;</span></a>-->
        <!-- <a href="#">Meet our leadership <span aria-hidden="true">&rarr;</span></a>-->
      <!-- </div> -->
    </div>
  </div>
</div>

<!-- Logo Carousel Section -->
<section class="text-white py-8">
  <div class="container mx-auto py-8">
    <h2 class="text-6xl text-gray-700 font-semibold text-center mb-10">Partners</h2>

    <!--  Carousel 1    -->
    <div class="slider h-32">
      <div class="slide-track">
        <div class="slide mx-4">
          <img src="<%= asset_path('Evergreen_Logo.png') %>" alt="Logo 1" class="h-6 md:h-12">
        </div>
        <div class="slide mx-4">
          <img src="<%= asset_path('HLAG_logo.png') %>" alt="Logo 2" class="h-5 md:h-10">
        </div>
        <div class="slide mx-4">
          <img src="<%= asset_path('COSCO_logo.svg') %>" alt="Logo 3" class="h-12 md:h-18">
        </div>
        <div class="slide mx-4">
          <img src="<%= asset_path('Maersk_Group_Logo.svg') %>" alt="Logo 4" class="h-6 md:h-12">
        </div>
        <div class="slide mx-4">
          <img src="<%= asset_path('cma-cgm_logo.svg') %>" alt="Logo 5" class="h-12 md:h-24">
        </div>
        <div class="slide mx-4">
          <img src="<%= asset_path('oocl_logo.svg') %>" alt="Logo 6" class="h-6 md:h-12">
        </div>
        <div class="slide mx-4">
          <img src="<%= asset_path('HMM_Logo.svg') %>" alt="Logo 7" class="h-8 md:h-16">
        </div>
        <div class="slide mx-4">
          <img src="<%= asset_path('sm-line_logo.svg') %>" alt="Logo 8" class="h-8 md:h-14">
        </div>
        <div class="slide mx-4">
          <img src="<%= asset_path('yang-ming_logo.svg') %>" alt="Logo 9" class="h-6 md:h-12">
        </div>
        <div class="slide mx-4">
          <img src="<%= asset_path('Ocean_Network_Express_logo.svg') %>" alt="Logo 10" class="h-8 md:h-12">
        </div>
        <!-- Duplicate logos for infinite scroll effect -->
        <div class="slide mx-4">
          <img src="<%= asset_path('Evergreen_Logo.png') %>" alt="Logo 1" class="h-6 md:h-12">
        </div>
        <div class="slide mx-4">
          <img src="<%= asset_path('HLAG_logo.png') %>" alt="Logo 2" class="h-5 md:h-10">
        </div>
        <div class="slide mx-4">
          <img src="<%= asset_path('COSCO_logo.svg') %>" alt="Logo 3" class="h-12 md:h-18">
        </div>
        <div class="slide mx-4">
          <img src="<%= asset_path('Maersk_Group_Logo.svg') %>" alt="Logo 4" class="h-6 md:h-12">
        </div>
        <div class="slide mx-4">
          <img src="<%= asset_path('cma-cgm_logo.svg') %>" alt="Logo 5" class="h-12 md:h-24">
        </div>
        <div class="slide mx-4">
          <img src="<%= asset_path('oocl_logo.svg') %>" alt="Logo 6" class="h-6 md:h-12">
        </div>
        <div class="slide mx-4">
          <img src="<%= asset_path('HMM_Logo.svg') %>" alt="Logo 7" class="h-8 md:h-16">
        </div>
        <div class="slide mx-4">
          <img src="<%= asset_path('sm-line_logo.svg') %>" alt="Logo 8" class="h-8 md:h-14">
        </div>
        <div class="slide mx-4">
          <img src="<%= asset_path('yang-ming_logo.svg') %>" alt="Logo 9" class="h-6 md:h-12">
        </div>
        <div class="slide mx-4">
          <img src="<%= asset_path('Ocean_Network_Express_logo.svg') %>" alt="Logo 10" class="h-8 md:h-12">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact Section -->
<!-- <section class="min-h-screen bg-gradient-to-r from-blue-100 via-blue-250 to-blue-400"> -->
<section class="min-h-screen bg-cover bg-center" style="background-image: url('<%= asset_path('contactform1.jpg') %>');">
  <div class="flex flex-col min-h-screen">
    <div class="container flex flex-col flex-1 px-6 py-12 mx-auto">
      <div class="flex-1 lg:flex lg:items-center lg:-mx-6">
        <div class="text-white lg:w-1/2 lg:mx-6">
          <h1 class="text-3xl font-semibold capitalize lg:text-3xl">Contact us</h1>

          <p class="max-w-xl mt-6 text-xl">Feel free to reach out to us anytime.</p>
          <p class="max-w-xl mt-6 text-xl">We are here to assist you and look forward to hearing from you!</p>

          <div class="mt-6 space-y-8 md:mt-8">
            <p class="flex items-start -mx-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-2 text-blue-500 dark:text-blue-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>

              <span class="mx-2 truncate text-xl">
              6500 Silver Dart Drive<br>Unit 202, Vista Cargo Core A<br>Mississauga, Ontario<br>L5P 1A2
            </span>
            </p>

            <p class="flex items-start -mx-2  text-xl">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-2 text-blue-500 dark:text-blue-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
              </svg>

              <span class="mx-2 truncate text-xl">+1 (905) 677-2796</span>
            </p>

            <p class="flex items-start -mx-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-2 text-blue-500 dark:text-blue-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
              </svg>

              <!-- <span class="mx-2 break-words w-72 text-xl">TFG-Trade@trustfreightglobal.com</span>-->
              <a href="mailto:TFG-Trade@trustfreightglobal.com" class="mx-2 text-xl break-words hover:text-blue-300">TFG-Trade@trustfreightglobal.com</a>
            </p>
          </div>
        </div>

        <div class="mt-8 lg:w-1/2 lg:mx-6">
          <div class="w-full px-8 py-10 mx-auto overflow-hidden bg-white shadow-2xl rounded-xl dark:bg-gray-900 lg:max-w-xl">
            <h1 class="text-3xl font-medium text-gray-700 dark:text-gray-200">Contact Form</h1>

            <%= form_with(model: @contact, url: index_path, local: true) do |form| %>
              <div class="flex-1">
                <%= form.label :first_name, class: "block mb-2 text-sm text-gray-600 dark:text-gray-200 text-xl required" %>
                <%= form.text_field :first_name, placeholder: "Your First Name", class: "block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring", required: true %>
              </div>

              <div class="flex-1 mt-6">
                <%= form.label :last_name, class: "block mb-2 text-sm text-gray-600 dark:text-gray-200 text-xl required" %>
                <%= form.text_field :last_name, placeholder: "Your Last Name", class: "block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring", required: true %>
              </div>

              <div class="flex-1 mt-6">
                <%= form.label :email, class: "block mb-2 text-sm text-gray-600 dark:text-gray-200 text-xl required" %>
                <%= form.email_field :email, placeholder: "youremail@example.com", class: "block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring", required: true %>
              </div>

              <div class="flex-1 mt-6">
                <%= form.label :phone, class: "block mb-2 text-sm text-gray-600 dark:text-gray-200 text-xl" %>
                <%= form.text_field :phone, placeholder: "(123) 456-7890", class: "block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" %>
              </div>

              <div class="w-full mt-6">
                <%= form.label :subject, class: "block mb-2 text-sm text-gray-600 dark:text-gray-200 text-xl required" %>
                <%= form.text_field :subject, placeholder: "Subject", class: "block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring", required: true %>
              </div>

              <div class="w-full mt-6">
                <%= form.label :message, class: "block mb-2 text-sm text-gray-600 dark:text-gray-200 text-xl required" %>
                <%= form.text_area :message, placeholder: "Message here...", class: "block w-full h-32 px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md md:h-48 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring", required: true %>
              </div>

              <%= form.submit 'Get in touch', class: "w-full px-6 py-3 mt-6 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-500 rounded-md hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50" %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<script>
    // Hiding Banner
    function hideBanner() {
        var banner = document.getElementById('banner');
        banner.style.display = 'none';
    }

    // Hiding flash message
    function hideFlash() {
        var flash_message = document.getElementById('flash_message');
        flash_message.style.display = 'none';
    }
</script>