<!-- Banner Section -->
<%= render 'shared/banner' %>

<!-- Navbar Section -->
<%= render 'shared/navbar' %>

<!-- Flash Message -->
<%= render 'shared/flashes' %>

<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-lg text-center">
    <h1 class="text-2xl font-bold sm:text-3xl">Portal Login</h1>

    <p class="py-6 text-gray-500">
      Sign in to upload shipment files
    </p>
  </div>

  <div class="mx-auto max-w-lg text-center space-y-4">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class: "sr-only" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"%>
      </div>

      <div class="field">
        <%= f.label :password, class: "sr-only" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm" %>
      </div>

      <div class="actions mt-5">
        <button
          class="inline-block rounded-lg bg-blue-500 px-5 py-3 text-sm font-medium text-white"
        >
          <%= f.submit "Log in" %>
        </button>
      </div>
    <% end %>
  </div>
</div>

<script>
    // Hiding Banner
    function hideBanner() {
        var banner = document.getElementById('banner');
        banner.style.display = 'none';
    }

    // Hiding flash message
    function hideFlash() {
        var flashMessages = document.querySelectorAll('.flash_message'); // Select all elements with class
        flashMessages.forEach(flash => flash.style.display = 'none');
    }
</script>
