<!-- Banner Section -->
<div id="banner" class="relative isolate flex items-center gap-x-6 overflow-hidden bg-gray-50 px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
  <div class="absolute left-[max(-7rem,calc(50%-52rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl" aria-hidden="true">
    <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)"></div>
  </div>
  <div class="absolute left-[max(45rem,calc(50%+8rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl" aria-hidden="true">
    <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)"></div>
  </div>
  <div class="flex flex-wrap items-center gap-x-4 gap-y-2">
    <p class="text-sm/6 text-gray-900">
      <strong class="font-semibold">Don't wait...</strong><svg viewBox="0 0 2 2" class="mx-2 inline h-0.5 w-0.5 fill-current" aria-hidden="true"><circle cx="1" cy="1" r="1" /></svg>Register TODAY for your CARM account. Making sure your business registration is ready by October 24, 2024.
    </p>
    <a href="/faq" class="flex-none rounded-full bg-blue-700 hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-300  px-3.5 py-1 text-sm font-semibold text-white shadow-sm">Learn more <span aria-hidden="true">&rarr;</span></a>
  </div>
  <div class="flex flex-1 justify-end">
    <button type="button" class="-m-3 p-3 focus-visible:outline-offset-[-4px]" onclick="hideBanner()">
      <span class="sr-only">Dismiss</span>
      <svg class="h-5 w-5 text-gray-900" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
        <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z" />
      </svg>
    </button>
  </div>
</div>

<!-- Navbar Section -->
<nav x-data="{ isOpen: false }" class="relative bg-white shadow dark:bg-gray-800">
  <div class="px-20 py-4 md:flex md:justify-between sm:px-6 md:px-6 md:items-center">
    <div class="flex items-center justify-between">
      <a href="/index">
        <img class="w-auto h-16 sm:h-16 md:h-16 xl:h-32" src="/icon.png" alt="Trustfreight Global">
      </a>

      <!-- Mobile menu button -->
      <div class="flex lg:hidden">
        <button x-cloak @click="isOpen = !isOpen" type="button" class="text-gray-500 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400" aria-label="toggle menu">
          <svg x-show="!isOpen" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 8h16M4 16h16" />
          </svg>

          <svg x-show="isOpen" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>

    <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
    <div x-cloak :class="[isOpen ? 'translate-x-0 opacity-100 ' : 'opacity-0 -translate-x-full']" class="absolute inset-x-0 z-20 w-full px-6 py-4 transition-all duration-300 ease-in-out bg-white dark:bg-gray-800 md:mt-0 md:p-0 md:top-0 md:relative md:bg-transparent md:w-auto md:opacity-100 md:translate-x-0 md:flex md:items-center">
      <div class="flex flex-col md:flex-row md:mx-6">
        <a href="/index" class="my-2 text-gray-700 transition-colors duration-300 transform dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-400 md:mx-4 md:my-0">Home</a>
        <a href="/service" class="my-2 text-gray-700 transition-colors duration-300 transform dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-400 md:mx-4 md:my-0">Services</a>
        <a href="/tracking" class="my-2 text-gray-700 transition-colors duration-300 transform dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-400 md:mx-4 md:my-0">Tracking</a>
        <a href="/about" class="my-2 text-gray-700 transition-colors duration-300 transform dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-400 md:mx-4 md:my-0">About</a>
        <a href="/contact" class="my-2 text-gray-700 transition-colors duration-300 transform dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-400 md:mx-4 md:my-0">Contact</a>
        <a href="/faq" class="my-2 text-gray-700 transition-colors duration-300 transform dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-400 md:mx-4 md:my-0">FAQ</a>
      </div>

      <div class="flex justify-between md:block">
        <a class="relative text-gray-700 transition-colors duration-300 transform dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-300">
          <button type="button" class="text-white bg-blue-700 hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"><%= link_to 'Quote', quote_path %></button>
        </a>
      </div>
    </div>
  </div>
</nav>

<!-- Service List -->
<section>
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
    <div class="grid grid-cols-1 gap-y-8 lg:grid-cols-2 lg:items-center lg:gap-x-16">
      <div class="mx-auto max-w-lg text-center lg:mx-0 ltr:lg:text-left items-center">
        <h2 class="text-3xl font-bold sm:text-4xl">Trustfreight offering</h2>

        <p class="mt-4 text-gray-600">
          a extensive range of services.<br><br>
          Explore more by clicking one of our services.
        </p>
      </div>

      <div class="grid grid-cols-2 gap-4 sm:grid-cols-3">
        <a
          class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
          href="#airfreight"
        >
          <span class="inline-block rounded-lg bg-gray-50 p-3">
            <svg
              class="size-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
              <path
                d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
              ></path>
            </svg>
          </span>

          <h2 class="mt-2 font-bold">Air Freight</h2>

          <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
          </p>
        </a>

        <a
          class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
          href="#oceanfreight"
        >
          <span class="inline-block rounded-lg bg-gray-50 p-3">
            <svg
              class="size-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
              <path
                d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
              ></path>
            </svg>
          </span>

          <h2 class="mt-2 font-bold">Ocean Freight</h2>

          <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
          </p>
        </a>

        <a
          class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
          href="#warehousingtrucking"
        >
          <span class="inline-block rounded-lg bg-gray-50 p-3">
            <svg
              class="size-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
              <path
                d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
              ></path>
            </svg>
          </span>

          <h2 class="mt-2 font-bold">Warehousing and Trucking</h2>

          <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
          </p>
        </a>

        <a
          class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
          href="#dangerousspecialized"
        >
          <span class="inline-block rounded-lg bg-gray-50 p-3">
            <svg
              class="size-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
              <path
                d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
              ></path>
            </svg>
          </span>

          <h2 class="mt-2 font-bold">Dangerous Goods and Specialized Cargo</h2>

          <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
          </p>
        </a>

        <a
          class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
          href="#personneleffect"
        >
          <span class="inline-block rounded-lg bg-gray-50 p-3">
            <svg
              class="size-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
              <path
                d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
              ></path>
            </svg>
          </span>

          <h2 class="mt-2 font-bold">Personnel Effect</h2>

          <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
          </p>
        </a>

        <a
          class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
          href="#customs"
        >
          <span class="inline-block rounded-lg bg-gray-50 p-3">
            <svg
              class="size-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
              <path
                d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
              ></path>
            </svg>
          </span>

          <h2 class="mt-2 font-bold">Customs Clearance and Consultation</h2>

          <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
          </p>
        </a>

        <a
          class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
          href="#insurance"
        >
          <span class="inline-block rounded-lg bg-gray-50 p-3">
            <svg
              class="size-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
              <path
                d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
              ></path>
            </svg>
          </span>

          <h2 class="mt-2 font-bold">Insurance</h2>

          <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
          </p>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Air Freight Section -->
<section>
  <div id="airfreight" class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
      <div class="relative z-10 lg:py-16">
        <div class="relative h-64 sm:h-80 lg:h-full">
          <img
            alt=""
            src="<%= asset_path('air_freight.jpg') %>"
            class="absolute inset-0 h-full w-full object-cover"
            />
        </div>
      </div>

      <div class="relative flex items-center bg-gray-100">
        <span
          class="hidden lg:absolute lg:inset-y-0 lg:-start-16 lg:block lg:w-16 lg:bg-gray-100"
        ></span>

        <div class="p-8 sm:p-16 lg:p-24">
          <h2 class="text-2xl font-bold sm:text-3xl">
            Air Freight
          </h2>

          <p class="mt-4 text-gray-600">
            Trustfreight provides professional air freight service for international and domestic air freight shipments.
            As an experienced freight forwarder capable of moving all types of air freight, we offer air freight solutions and services to suit any requirement.
            From a single shipment to a complete logistics plan, Trustfreight gets your product delivered, worry-free, across the country or anywhere on the globe.
            Request a quote from Trustfreight today for your transportation needs to take advantage of the freight solutions and services available from the team at Trustfreight.
          </p>

<!--          <a-->
<!--            href="#"-->
<!--            class="mt-8 inline-block rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"-->
<!--          >-->
<!--            Get in Touch-->
<!--          </a>-->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Ocean Freight Section -->
<section>
  <div id="oceanfreight" class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
      <!-- Content Column (Moved to the right side) -->
      <div class="relative flex items-center bg-gray-100">
        <span
          class="hidden lg:absolute lg:inset-y-0 lg:-end-16 lg:block lg:w-16 lg:bg-gray-100"
        ></span>

        <div class="p-8 sm:p-16 lg:p-24">
          <h2 class="text-2xl font-bold sm:text-3xl">
            Ocean Freight
          </h2>

          <p class="mt-4 text-gray-600">
            Trustfreight offers comprehensive ocean freight services for both LCL (Less-than-Container Load) and FCL (Full Container Load) international shipments.
            Whether you're importing full containers from any global destination or exporting oversized cargo, Trustfreight provides reliable logistics solutions designed to ensure timely delivery of your goods.<br><br>
            Contact us today to request a quote and explore our tailored transportation services, backed by our experienced team of logistics professionals.
          </p>

<!--          <a-->
<!--            href="#"-->
<!--            class="mt-8 inline-block rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"-->
<!--          >-->
<!--            Get in Touch-->
<!--          </a>-->
        </div>
      </div>

      <!-- Image Column (Moved to the left side) -->
      <div class="relative z-10 lg:py-16">
        <div class="relative h-64 sm:h-80 lg:h-full">
          <img
            alt=""
            src="<%= asset_path('sea_freight3.jpg') %>"
            class="absolute inset-0 h-full w-full object-cover"
            />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Warehousing and Trucking Section -->
<section>
  <div id="warehousingtrucking" class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
      <div class="relative z-10 lg:py-16">
        <div class="relative h-64 sm:h-80 lg:h-full">
          <img
            alt=""
            src="<%= asset_path('trucking.jpg') %>"
            class="absolute inset-0 h-full w-full object-cover"
            />
        </div>
      </div>

      <div class="relative flex items-center bg-gray-100">
        <span
          class="hidden lg:absolute lg:inset-y-0 lg:-start-16 lg:block lg:w-16 lg:bg-gray-100"
        ></span>

        <div class="p-8 sm:p-16 lg:p-24">
          <h2 class="text-2xl font-bold sm:text-3xl">
            Warehousing and Trucking
          </h2>

          <p class="mt-4 text-gray-600">
            Trustfreight Global provides comprehensive warehousing solutions, offering both short-term and long-term storage options tailored to your specific needs.
            Our team of experts works closely with you to create customized solutions for efficient cargo handling, from storage to distribution.<br><br>
            Alongside our warehousing services, we specialize in reliable road freight services, including Full Truckload (FTL) for larger shipments, Less Than Truckload (LTL) for smaller deliveries, and Expedited Freight for urgent needs.
            With a focus on efficiency, safety, and customer satisfaction, Trustfreight ensures that your cargo is delivered on time and without hassle.
          </p>

          <!--          <a-->
          <!--            href="#"-->
          <!--            class="mt-8 inline-block rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"-->
          <!--          >-->
          <!--            Get in Touch-->
          <!--          </a>-->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Dangerous Goods and Specialized Cargo Section -->
<section>
  <div id="dangerousspecialized" class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
      <!-- Content Column (Moved to the right side) -->
      <div class="relative flex items-center bg-gray-100">
        <span
          class="hidden lg:absolute lg:inset-y-0 lg:-end-16 lg:block lg:w-16 lg:bg-gray-100"
        ></span>

        <div class="p-8 sm:p-16 lg:p-24">
          <h2 class="text-2xl font-bold sm:text-3xl">
            Dangerous Goods and Specialized Cargo
          </h2>

          <p class="mt-4 text-gray-600"> <!-- todo -->
            [TBC]
            Trustfreight offers comprehensive ocean freight services for both LCL (Less-than-Container Load) and FCL (Full Container Load) international shipments.
            Whether you're importing full containers from any global destination or exporting oversized cargo, Trustfreight provides reliable logistics solutions designed to ensure timely delivery of your goods.<br><br>
            Contact us today to request a quote and explore our tailored transportation services, backed by our experienced team of logistics professionals.
          </p>

          <!--          <a-->
          <!--            href="#"-->
          <!--            class="mt-8 inline-block rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"-->
          <!--          >-->
          <!--            Get in Touch-->
          <!--          </a>-->
        </div>
      </div>

      <!-- Image Column (Moved to the left side) -->
      <div class="relative z-10 lg:py-16">
        <div class="relative h-64 sm:h-80 lg:h-full">
          <img
            alt=""
            src="<%= asset_path('caution.jpg') %>"
            class="absolute inset-0 h-full w-full object-cover"
            />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Personnel Effect Section -->
<section>
  <div id="personneleffect" class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
      <div class="relative z-10 lg:py-16">
        <div class="relative h-64 sm:h-80 lg:h-full">
          <img
            alt=""
            src="<%= asset_path('antique.jpg') %>"
            class="absolute inset-0 h-full w-full object-cover"
            />
        </div>
      </div>

      <div class="relative flex items-center bg-gray-100">
        <span
          class="hidden lg:absolute lg:inset-y-0 lg:-start-16 lg:block lg:w-16 lg:bg-gray-100"
        ></span>

        <div class="p-8 sm:p-16 lg:p-24">
          <h2 class="text-2xl font-bold sm:text-3xl">
            Personnel Effect
          </h2>

          <p class="mt-4 text-gray-600"> <!-- todo -->
            [TBC]
            Trustfreight provides professional air freight service for international and domestic air freight shipments.
            As an experienced freight forwarder capable of moving all types of air freight, we offer air freight solutions and services to suit any requirement.<br><br>
            From a single shipment to a complete logistics plan, Trustfreight gets your product delivered, worry-free, across the country or anywhere on the globe.
            Request a quote from Trustfreight today for your transportation needs to take advantage of the freight solutions and services available from the team at Trustfreight.
          </p>

          <!--          <a-->
          <!--            href="#"-->
          <!--            class="mt-8 inline-block rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"-->
          <!--          >-->
          <!--            Get in Touch-->
          <!--          </a>-->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Customs Clearance and Consultation Section -->
<section>
  <div id="customs" class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
      <!-- Content Column (Moved to the right side) -->
      <div class="relative flex items-center bg-gray-100">
        <span
          class="hidden lg:absolute lg:inset-y-0 lg:-end-16 lg:block lg:w-16 lg:bg-gray-100"
        ></span>

        <div class="p-8 sm:p-16 lg:p-24">
          <h2 class="text-2xl font-bold sm:text-3xl">
            Customs Clearance and Consultation
          </h2>

          <p class="mt-4 text-gray-600">
            Trustfreight Global offers comprehensive customs brokerage services, including customs clearance, import and export documentation, and compliance consulting.
            We also provide insurance coverage for your shipments, protecting your cargo against loss, damage, or theft.
            This ensures that your shipments are cleared quickly and efficiently, saving you time and money.
          </p>

          <!--          <a-->
          <!--            href="#"-->
          <!--            class="mt-8 inline-block rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"-->
          <!--          >-->
          <!--            Get in Touch-->
          <!--          </a>-->
        </div>
      </div>

      <!-- Image Column (Moved to the left side) -->
      <div class="relative z-10 lg:py-16">
        <div class="relative h-64 sm:h-80 lg:h-full">
          <img
            alt=""
            src="<%= asset_path('workers.jpg') %>"
            class="absolute inset-0 h-full w-full object-cover"
            />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Insurance Section -->
<section>
  <div id="insurance" class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
      <div class="relative z-10 lg:py-16">
        <div class="relative h-64 sm:h-80 lg:h-full">
          <img
            alt=""
            src="<%= asset_path('secure.jpg') %>"
            class="absolute inset-0 h-full w-full object-cover"
            />
        </div>
      </div>

      <div class="relative flex items-center bg-gray-100">
        <span
          class="hidden lg:absolute lg:inset-y-0 lg:-start-16 lg:block lg:w-16 lg:bg-gray-100"
        ></span>

        <div class="p-8 sm:p-16 lg:p-24">
          <h2 class="text-2xl font-bold sm:text-3xl">
            Insurance
          </h2>

          <p class="mt-4 text-gray-600">
            We provide cargo insurance for all transportation needs, covering various destinations and cargo types.
            Insurance options range from full coverage to more minimal protection. Working with multiple insurance providers, we offer the best rates for our customers.
            Quotations are typically available the same day, with responses from underwriters within one business day if needed.
            For personal effects or special cargo, additional forms are required. Coverage is bound before pick-up and remains effective until delivery.
          </p>

          <!--          <a-->
          <!--            href="#"-->
          <!--            class="mt-8 inline-block rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"-->
          <!--          >-->
          <!--            Get in Touch-->
          <!--          </a>-->
        </div>
      </div>
    </div>
  </div>
</section>


<script>
    <!-- Making banner invisible-->
    function hideBanner() {
        var banner = document.getElementById('banner');
        banner.style.display = 'none';
    }
</script>
