<!-- Banner Section -->
<%= render 'shared/banner' %>

<!-- Navbar Section -->
<%= render 'shared/navbar' %>

<!-- Header Section -->
<section>
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-4 md:items-center md:gap-8">
<!--      <div class="md:col-span-1">-->
<!--        <div class="max-w-lg md:max-w-none">-->
<!--          <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">-->
<!--            Trustfreight offers an extensive range of services-->
<!--          </h2>-->

<!--          <p class="mt-4 text-gray-700">-->
<!--            Explore more by clicking each of our services or contact us below.-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->

      <div class="md:col-span-8">
        <img
          src="<%= asset_path('service_header.jpg') %>"
          class="rounded"
          alt=""
          />
      </div>
    </div>
  </div>
</section>

<hr class="my-4 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 sm:my-4 md:my-12" />

<!-- Service List -->
<section class="bg-white">
  <div class="container px-6 mx-auto">
    <h1 class="text-2xl font-semibold text-center text-gray-800 capitalize lg:text-3xl">Trustfreight offers an extensive range of services
    </h1>

    <p class="mt-4 text-xl text-center text-gray-500">
      Explore more by clicking each of our services or contact us below.
    </p>

    <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 lg:grid-cols-4">
      <a href="#ocean" class="block">
        <div class="flex items-end overflow-hidden bg-cover rounded-lg h-96" style="background-image:url('<%= asset_path('by_sea.jpg') %>')">
          <div class="w-full px-8 py-4 overflow-hidden rounded-b-lg backdrop-blur-sm bg-white/60 ">
            <h2 class="mt-2 text-xl font-semibold text-gray-800 capitalize">By Ocean</h2>
            <!-- <p class="mt-2 text-lg tracking-wider text-blue-500 uppercase ">Website</p>-->
          </div>
        </div>
      </a>

      <a href="#air" class="block">
        <div class="flex items-end overflow-hidden bg-cover rounded-lg h-96" style="background-image:url('https://upload.wikimedia.org/wikipedia/commons/7/7c/Unloading_JAL_747.jpg')">
          <div class="w-full px-8 py-4 overflow-hidden rounded-b-lg backdrop-blur-sm bg-white/60 ">
            <h2 class="mt-2 text-xl font-semibold text-gray-800 capitalize">By Air
            </h2>
            <!-- <p class="mt-2 text-lg tracking-wider text-blue-500 uppercase ">Website</p>-->
          </div>
        </div>
      </a>

      <a href="#ground" class="block">
        <div class="flex items-end overflow-hidden bg-cover rounded-lg h-96" style="background-image:url('<%= asset_path('truck3_card.jpg') %>')">
          <div class="w-full px-8 py-4 overflow-hidden rounded-b-lg backdrop-blur-sm bg-white/60 ">
            <h2 class="mt-2 text-xl font-semibold text-gray-800 capitalize">By Ground Domestic and Cross-border
            </h2>
            <!-- <p class="mt-2 text-lg tracking-wider text-blue-500 uppercase ">Website</p>-->
          </div>
        </div>
      </a>

      <a href="#dangerousgoods" class="block">
        <div class="flex items-end overflow-hidden bg-cover rounded-lg h-96" style="background-image:url('<%= asset_path('dangerous_cargo2_card.jpg') %>')">
          <div class="w-full px-8 py-4 overflow-hidden rounded-b-lg backdrop-blur-sm bg-white/60 ">
            <h2 class="mt-2 text-xl font-semibold text-gray-800 capitalize">Perishable, Temperature Control and Dangerous Goods</h2>
            <!-- <p class="mt-2 text-lg tracking-wider text-blue-500 uppercase ">Website</p>-->
          </div>
        </div>
      </a>
    </div>

    <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 lg:grid-cols-4">
      <a href="#specializedcargo" class="block">
        <div class="flex items-end overflow-hidden bg-cover rounded-lg h-96" style="background-image:url('<%= asset_path('specialized_cargo3_card.jpg') %>')">
          <div class="w-full px-8 py-4 overflow-hidden rounded-b-lg backdrop-blur-sm bg-white/60 ">
            <h2 class="mt-2 text-xl font-semibold text-gray-800 capitalize">Multi-Modal and specialized cargo</h2>
            <!-- <p class="mt-2 text-lg tracking-wider text-blue-500 uppercase ">Website</p>-->
          </div>
        </div>
      </a>

      <a href="#3pl" class="block">
        <div class="flex items-end overflow-hidden bg-cover rounded-lg h-96" style="background-image:url('<%= asset_path('warehouse_card.jpg') %>')">
          <div class="w-full px-8 py-4 overflow-hidden rounded-b-lg backdrop-blur-sm bg-white/60 ">
            <h2 class="mt-2 text-xl font-semibold text-gray-800 capitalize">Warehousing and 3PL</h2>
            <!-- <p class="mt-2 text-lg tracking-wider text-blue-500 uppercase ">Website</p>-->
          </div>
        </div>
      </a>

      <a href="#personneleffect" class="block">
        <div class="flex items-end overflow-hidden bg-cover rounded-lg h-96" style="background-image:url('<%= asset_path('relocation_card.jpg') %>')">
          <div class="w-full px-8 py-4 overflow-hidden rounded-b-lg backdrop-blur-sm bg-white/60 ">
            <h2 class="mt-2 text-xl font-semibold text-gray-800 capitalize">Personnel Effects, International Moving and Relocation Services
            </h2>
            <!-- <p class="mt-2 text-lg tracking-wider text-blue-500 uppercase ">Website</p>-->
          </div>
        </div>
      </a>

      <a href="#customs" class="block">
        <div class="flex items-end overflow-hidden bg-cover rounded-lg h-96" style="background-image:url('<%= asset_path('workers_card.jpg') %>')">
          <div class="w-full px-8 py-4 overflow-hidden rounded-b-lg backdrop-blur-sm bg-white/60 ">
            <h2 class="mt-2 text-xl font-semibold text-gray-800 capitalize">Customs Clearance and Insurance
            </h2>
            <!-- <p class="mt-2 text-lg tracking-wider text-blue-500 uppercase ">Website</p>-->
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

<hr class="my-4 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 sm:my-4 md:my-12" />

<!-- Ocean Freight Section -->
<section>
  <div id="ocean" class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
      <!-- Content Column -->
      <div class="relative flex items-center bg-gray-100">
        <span
          class="hidden lg:absolute lg:inset-y-0 lg:-end-16 lg:block lg:w-16 lg:bg-gray-100"
        ></span>

        <div class="p-8 sm:p-16 lg:p-24">
          <h2 class="text-2xl font-bold sm:text-3xl">
            Ocean Freight
          </h2>

          <p class="mt-4 text-gray-600">
            Trustfreight offers comprehensive ocean freight services for both LCL (Less-than-Container Load) and FCL (Full Container Load) international shipments.
            Whether you're importing full containers from any global destination or exporting oversized cargo, Trustfreight provides reliable logistics solutions designed to ensure timely delivery of your goods.<br><br>
            Contact us today to request a quote and explore our tailored transportation services, backed by our experienced team of logistics professionals.
          </p>

<!--          <a-->
<!--            href="#"-->
<!--            class="mt-8 inline-block rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"-->
<!--          >-->
<!--            Get in Touch-->
<!--          </a>-->
        </div>
      </div>

      <!-- Image Column -->
      <div class="relative z-10 lg:py-16">
        <div class="relative h-64 sm:h-80 lg:h-full">
          <img
            alt=""
            src="<%= asset_path('by_sea.jpg') %>"
            class="absolute inset-0 h-full w-full object-cover"
            />
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="my-4 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 sm:my-4 md:my-12" />

<!-- Air Freight Section -->
<section>
  <div id="air" class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
      <div class="relative z-10 lg:py-16">
        <div class="relative h-64 sm:h-80 lg:h-full">
          <img
            alt=""
            src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Unloading_JAL_747.jpg"
            class="absolute inset-0 h-full w-full object-cover"
            />
        </div>
      </div>

      <div class="relative flex items-center bg-gray-100">
        <span
          class="hidden lg:absolute lg:inset-y-0 lg:-start-16 lg:block lg:w-16 lg:bg-gray-100"
        ></span>

        <div class="p-8 sm:p-16 lg:p-24">
          <h2 class="text-2xl font-bold sm:text-3xl">
            Air Freight
          </h2>

          <p class="mt-4 text-gray-600">
            Trustfreight provides professional air freight service for international and domestic air freight shipments.
            As an experienced freight forwarder capable of moving all types of air freight, we offer air freight solutions and services to suit any requirement.
          </p>
          <p class="mt-4 text-gray-600">
            From a single shipment to a complete logistics plan, Trustfreight gets your product delivered, worry-free, across the country or anywhere on the globe.
            Request a quote from Trustfreight today for your transportation needs to take advantage of the freight solutions and services available from the team at Trustfreight.
          </p>

          <!--          <a-->
          <!--            href="#"-->
          <!--            class="mt-8 inline-block rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"-->
          <!--          >-->
          <!--            Get in Touch-->
          <!--          </a>-->
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="my-4 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 sm:my-4 md:my-12" />

<!-- Ground Domestic Section -->
<section>
  <div id="ground" class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
      <div class="relative flex items-center bg-gray-100">
        <span
          class="hidden lg:absolute lg:inset-y-0 lg:-start-16 lg:block lg:w-16 lg:bg-gray-100"
        ></span>

        <div class="p-8 sm:p-16 lg:p-24">
          <h2 class="text-2xl font-bold sm:text-3xl">
            By Ground Domestic and Cross-border Services
          </h2>

          <p class="mt-4 text-gray-600">
            Trustfreight Global specializes in reliable road freight services, offering both Full Truckload (FTL) and Less Than Truckload (LTL) options for a range of shipment sizes, as well as expedited freight for urgent deliveries.
            As a seasoned freight forwarder, we provide tailored transportation solutions for both domestic and cross-border shipments, ensuring efficiency, safety, and customer satisfaction.
          </p>
          <p class="mt-4 text-gray-600">
            Whether you require a single shipment or a complete logistics plan, Trustfreight Global guarantees your cargo is delivered on time, hassle-free, and across the continent.
          </p>

          <!--          <a-->
          <!--            href="#"-->
          <!--            class="mt-8 inline-block rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"-->
          <!--          >-->
          <!--            Get in Touch-->
          <!--          </a>-->
        </div>
      </div>

      <div class="relative z-10 lg:py-16">
        <div class="relative h-64 sm:h-80 lg:h-full">
          <img
            alt=""
            src="<%= asset_path('truck4.jpg') %>"
            class="absolute inset-0 h-full w-full object-cover"
            />
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="my-4 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 sm:my-4 md:my-12" />

<!-- Dangerous Goods Section -->
<section>
  <div id="dangerousgoods" class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
      <!-- Image Column (Moved to the left side) -->
<!--      <div class="relative z-10 lg:py-16">-->
<!--        <div class="relative h-64 sm:h-80 lg:h-full">-->
<!--          <img-->
<!--            alt=""-->
<!--            src="<%#= asset_path('dangerous_cargo2_card') %>"-->
<!--            class="absolute inset-0 h-full w-full object-cover"-->
<!--            />-->
<!--        </div>-->
<!--      </div>-->
      <div class="container mx-auto px-5 py-2 lg:pt-12">
        <div class="-m-1 flex flex-wrap md:-m-2">
          <div class="flex w-full flex-wrap">
            <div class="w-full p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center"
                src="<%= asset_path('dangerous_cargo3.jpg') %>" />
            </div>
          </div>
          <div class="flex w-full flex-wrap">
            <div class="w-full p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center"
                src="<%= asset_path('perishable1.jpg') %>" />
            </div>
          </div>
        </div>
      </div>

      <!-- Content Column (Moved to the right side) -->
      <div class="relative flex items-center bg-gray-100">
        <span
          class="hidden lg:absolute lg:inset-y-0 lg:-end-16 lg:block lg:w-16 lg:bg-gray-100"
        ></span>

        <div class="p-8 sm:p-16 lg:p-24">
          <h2 class="text-2xl font-bold sm:text-3xl">
            Perishable, Temperature Control and Dangerous Goods
          </h2>

          <p class="mt-4 text-gray-600">
            At Trustfreight Global, we specialize in handling perishable cargo, ensuring that product damage and spoilage are completely avoided through our integrated service from cradle to grave.
            Our extensive expertise also extends to the safe transportation of dangerous and hazardous substances.
          </p>
          <p class="mt-4 text-gray-600">
            With our staff trained in IMDG, Transport Canada, IATA, and all relevant regulations, we are fully equipped to manage the shipment of hazardous goods via ocean, air, road, or rail.
            Whether it's temperature-sensitive cargo or dangerous goods, Trustfreight Global guarantees safe, efficient, and compliant handling of your shipments.
          </p>

          <!--          <a-->
          <!--            href="#"-->
          <!--            class="mt-8 inline-block rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"-->
          <!--          >-->
          <!--            Get in Touch-->
          <!--          </a>-->
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="my-4 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 sm:my-4 md:my-12" />

<!-- Specialized Cargo Section -->
<section>
  <div id="specializedcargo" class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
      <!-- Content Column (Moved to the right side) -->
      <div class="relative flex items-center bg-gray-100">
        <span
          class="hidden lg:absolute lg:inset-y-0 lg:-end-16 lg:block lg:w-16 lg:bg-gray-100"
        ></span>

        <div class="p-8 sm:p-16 lg:p-24">
          <h2 class="text-2xl font-bold sm:text-3xl">
            Multi-Modal and Specialized cargo
          </h2>

          <p class="mt-4 text-gray-600">
            Trustfreight Global provides robust Multi-Modal and Specialized Cargo services, offering flexible and efficient transportation solutions for a wide range of industries.
            By combining various modes of transport—air, sea, road, and rail—we ensure timely and cost-effective delivery of your shipments, regardless of size or destination.
          </p>
          <p class="mt-4 text-gray-600">
            Our expertise in handling specialized cargo allows us to safely manage oversized, heavy, and high-value goods that require tailored solutions and precise handling.
            With an emphasis on reliability, safety, and adaptability, Trustfreight Global delivers customized logistics that meet your unique cargo requirements.
          </p>

          <!--          <a-->
          <!--            href="#"-->
          <!--            class="mt-8 inline-block rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"-->
          <!--          >-->
          <!--            Get in Touch-->
          <!--          </a>-->
        </div>
      </div>

      <!-- Image Column (Moved to the left side) -->
      <div class="relative z-10 lg:py-16">
        <div class="relative h-64 sm:h-80 lg:h-full">
          <img
            alt=""
            src="<%= asset_path('specialized_cargo1.jpg') %>"
            class="absolute inset-0 h-full w-full object-cover"
            />
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="my-4 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 sm:my-4 md:my-12" />

<!-- Warehousing and 3PL Section -->
<section>
  <div id="3pl" class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
      <div class="relative z-10 lg:py-16">
        <div class="relative h-64 sm:h-80 lg:h-full">
          <img
            alt=""
            src="<%= asset_path('warehouse.jpg') %>"
            class="absolute inset-0 h-full w-full object-cover"
            />
        </div>
      </div>

      <div class="relative flex items-center bg-gray-100">
        <span
          class="hidden lg:absolute lg:inset-y-0 lg:-start-16 lg:block lg:w-16 lg:bg-gray-100"
        ></span>

        <div class="p-8 sm:p-16 lg:p-24">
          <h2 class="text-2xl font-bold sm:text-3xl">
            Warehousing and 3PL
          </h2>

          <p class="mt-4 text-gray-600">
            Trustfreight Global offers a wide range of warehousing services to meet your specific needs.
            From storage to distribution, we have the expertise to handle your cargo with care.
            Our team of experts will work with you to develop a customized solution that meets your unique requirements.
            Whether you need short-term storage or long-term warehousing, we have the facilities and resources to meet your needs.
          </p>

          <!--          <a-->
          <!--            href="#"-->
          <!--            class="mt-8 inline-block rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"-->
          <!--          >-->
          <!--            Get in Touch-->
          <!--          </a>-->
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="my-4 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 sm:my-4 md:my-12" />

<!-- Personnel Effects Section -->
<section>
  <div id="personneleffect" class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
      <div class="relative flex items-center bg-gray-100">
        <span
          class="hidden lg:absolute lg:inset-y-0 lg:-start-16 lg:block lg:w-16 lg:bg-gray-100"
        ></span>

        <div class="p-8 sm:p-16 lg:p-24">
          <h2 class="text-2xl font-bold sm:text-3xl">
            Personnel Effects, International Moving and Relocation Services
          </h2>

          <p class="mt-4 text-gray-600">
            At Trustfreight Global, we specialize in providing seamless Personnel Effects, International Moving, and Relocation Services for individuals and families making international transitions.
            Whether you’re relocating for work, education, or personal reasons, we ensure that your belongings are packed, shipped, and delivered with the utmost care.
          </p>
          <p class="mt-4 text-gray-600">
            Our services include expert assistance with customs clearance, detailed logistics planning, and door-to-door delivery, all tailored to meet your specific needs.
            With a focus on efficiency and reliability, Trustfreight Global takes the stress out of international relocation, allowing you to focus on your new journey.
          </p>

          <!--          <a-->
          <!--            href="#"-->
          <!--            class="mt-8 inline-block rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"-->
          <!--          >-->
          <!--            Get in Touch-->
          <!--          </a>-->
        </div>
      </div>

      <div class="container mx-auto px-5 py-2 lg:pt-12">
        <div class="-m-1 flex flex-wrap md:-m-2">
          <div class="flex w-full flex-wrap">
            <div class="w-full p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center"
                src="<%= asset_path('relocation.jpg') %>" />
            </div>
          </div>
          <div class="flex w-full flex-wrap">
            <div class="w-full p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center"
                src="<%= asset_path('pets.jpg') %>" />
            </div>
          </div>
        </div>
      </div>

<!--      <div class="relative z-10 lg:py-16">-->
<!--        <div class="relative h-64 sm:h-80 lg:h-full">-->
<!--          <img-->
<!--            alt=""-->
<!--            src="<%#= asset_path('relocation.jpg') %>"-->
<!--            class="absolute inset-0 h-full w-full object-cover"-->
<!--            />-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</section>

<hr class="my-4 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 sm:my-4 md:my-12" />

<!-- Customs Clearance and Insurance -->
<section>
  <div id="customs" class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
      <!-- Image Column (Moved to the left side) -->
<!--      <div class="relative z-10 lg:py-16">-->
<!--        <div class="relative h-64 sm:h-80 lg:h-full">-->
<!--          <img-->
<!--            alt=""-->
<!--            src="<%#= asset_path('workers_card.jpg') %>"-->
<!--            class="absolute inset-0 h-full w-full object-cover"-->
<!--            />-->
<!--        </div>-->
<!--      </div>-->
      <div class="container z-10 mx-auto px-5 py-2 lg:pt-12">
        <div class="-m-1 flex flex-wrap md:-m-2">
          <div class="flex w-full flex-wrap">
            <div class="w-full p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center"
                src="<%= asset_path('workers.jpg') %>" />
            </div>
          </div>
          <div class="flex w-full flex-wrap">
            <div class="w-full p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center"
                src="<%= asset_path('CARM.jpg') %>" />
            </div>
          </div>
        </div>
      </div>

      <!-- Content Column (Moved to the right side) -->
      <div class="relative flex items-center bg-gray-100">
        <span
          class="hidden lg:absolute lg:inset-y-0 lg:-end-16 lg:block lg:w-16 lg:bg-gray-100"
        ></span>

        <div class="p-8 sm:p-16 lg:p-24">
          <h2 class="text-2xl font-bold sm:text-3xl">
            Insurance, Customs clearance, PARS, CARM
          </h2>

          <p class="mt-4 text-gray-600">
            Trustfreight Global offers comprehensive customs brokerage services, including customs clearance, import and export documentation, and compliance consulting.
            We leverage advanced systems like CARM (Canada's Advance Commercial Information system) and PARS (Pre-Arrival Review System) to streamline the customs process, ensuring faster and more efficient shipment clearance.
          </p>

          <p class="mt-4 text-gray-600">
            CARM helps process shipments more quickly by submitting electronic information ahead of arrival, while PARS facilitates pre-arrival approval for shipments, reducing delays at the border.
            Additionally, we provide insurance coverage for your shipments, protecting your cargo against loss, damage, or theft.
            This combination of advanced technology and expert services ensures that your shipments are cleared quickly and efficiently, saving you time and money.
          </p>

          <!--          <a-->
          <!--            href="#"-->
          <!--            class="mt-8 inline-block rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"-->
          <!--          >-->
          <!--            Get in Touch-->
          <!--          </a>-->
        </div>
      </div>
    </div>
  </div>
</section>

<script>
    <!-- Making banner invisible-->
    function hideBanner() {
        var banner = document.getElementById('banner');
        banner.style.display = 'none';
    }
</script>
