<!-- Banner Section -->
<%= render 'shared/banner' %>

<!-- Navbar Section -->
<%= render 'shared/navbar' %>

<!-- Flash Message -->
<%= render 'shared/flashes' %>

<!-- Quote Form -->
<%= form_with(model: @quote, url: quote_path, local: true) do |form| %>
  <div class="mx-auto max-w-screen-2xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16 space-y-12">
    <div class="border-b border-gray-900/10 pb-12">
      <h1 class="text-center font-semibold text-gray-900 text-2xl">Package / Cargo Information</h1>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-2">
        <div class="sm:col-span-1 sm:col-start-1">
          <%= form.label :mode_of_transport, "Mode of Transportation", class: "block text-sm/6 font-medium text-gray-900" %>
          <div class="mt-2">
            <%= form.select :mode_of_transport, options_for_select([['Air', 'Air'], ['Sea', 'Sea']]), {}, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm/6" %>
          </div>
        </div>
      </div>

      <!-- Air Content -->
      <div id="airContent" class="dynamicFormDiv mt-8 w-full">
        <div id="productRows">
          <%= form.fields_for :products do |product_form| %>
            <div class="productRow form-row mt-2 flex flex-wrap gap-x-6 gap-y-8">
              <!-- Commodity -->
              <div class="flex-1">
                <%= product_form.label :product_name, "Commodity", class: "mb-2 text-sm/6 font-medium text-gray-900" %>
                <div class="mt-2">
                  <%= product_form.text_field :product_name, class: "w-40 form-input px-4 py-2 border border-gray-300 rounded-md", placeholder: "" %>
                </div>
              </div>

              <!-- Quantity -->
              <div class="flex-1">
                <%= product_form.label :product_quantity, "Quantity", class: "mb-2 text-sm/6 font-medium text-gray-900" %>
                <div class="mt-2">
                  <%= product_form.number_field :product_quantity, class: "w-40 form-input px-4 py-2 border border-gray-300 rounded-md", placeholder: "" %>
                </div>
              </div>

              <!-- Description -->
              <div class="flex-1">
                <%= product_form.label :type_of_goods, "Description", class: "mb-2 text-sm/6 font-medium text-gray-900" %>
                <div class="mt-2">
                  <%= product_form.text_field :type_of_goods, class: "w-40 form-input px-4 py-2 border border-gray-300 rounded-md", placeholder: "" %>
                </div>
              </div>

              <!-- Length -->
              <div class="flex-1">
                <%= product_form.label :length, "Gross Length (in.)", class: "mb-2 text-sm/6 font-medium text-gray-900" %>
                <div class="mt-2">
                  <%= product_form.number_field :length, class: "w-40 form-input px-4 py-2 border border-gray-300 rounded-md", placeholder: "" %>
                </div>
              </div>

              <!-- Width -->
              <div class="flex-1">
                <%= product_form.label :width, "Gross Width (in.)", class: "mb-2 text-sm/6 font-medium text-gray-900" %>
                <div class="mt-2">
                  <%= product_form.number_field :width, class: "w-40 form-input px-4 py-2 border border-gray-300 rounded-md", placeholder: "" %>
                </div>
              </div>

              <!-- Height -->
              <div class="flex-1">
                <%= product_form.label :height, "Gross Height (in.)", class: "mb-2 text-sm/6 font-medium text-gray-900" %>
                <div class="mt-2">
                  <%= product_form.number_field :height, class: "w-40 form-input px-4 py-2 border border-gray-300 rounded-md", placeholder: "" %>
                </div>
              </div>

              <!-- Weight -->
              <div class="flex-1">
                <%= product_form.label :weight, "Gross Weight (lbs.)", class: "mb-2 text-sm/6 font-medium text-gray-900" %>
                <div class="mt-2">
                  <%= product_form.number_field :weight, class: "w-40 form-input px-4 py-2 border border-gray-300 rounded-md", placeholder: "" %>
                </div>
              </div>

              <!-- Reserve for remove button -->
              <div class="flex-1"></div>
            </div>
          <% end %>
        </div>

        <!-- Add Row Button -->
        <div class="mt-4">
          <button type="button" id="addRowBtn" class="addRowButton px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-700">Add Row</button>
        </div>
      </div>

      <!-- Sea Content -->
      <div id="seaContent" class="dynamicFormDiv mt-8 hidden">
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <%= form.label :container_size, "Container Size", class: "block text-sm/6 font-medium text-gray-900" %>
            <div class="mt-2">
              <%= form.select :container_size, options_for_select([['LCL', 'LCL'], ['FCL', 'FCL']]), {}, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" %>
            </div>
          </div>

          <div class="sm:col-span-3">
            <%= form.label :quantity_by_sea, "Quantity", class: "block text-sm/6 font-medium text-gray-900" %>
            <div class="mt-2">
              <%= form.number_field :quantity_by_sea, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="border-b border-gray-900/10 pb-12">
      <h1 class="text-center font-semibold text-gray-900 text-2xl">Shipping Information</h1>
      <!-- <h2 class="text-base/7 font-semibold text-gray-900">Profile</h2>-->
      <!-- <p class="mt-1 text-sm/6 text-gray-600">This information will be displayed publicly so be careful what you share.</p>-->

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <h2 class="block text-lg font-medium text-gray-900">Ship From</h2>
        </div>

        <div class="sm:col-span-3">
          <h2 class="block text-lg font-medium text-gray-900">To</h2>
        </div>

        <div class="sm:col-span-3">
          <label for="from-address" class="block text-sm/6 font-medium text-gray-900 required">Address</label>
          <div class="mt-2">
            <%= form.text_field :from_address, id: "from-address", autocomplete: "address", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6", required: true %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="to-address" class="block text-sm/6 font-medium text-gray-900 required">Address</label>
          <div class="mt-2">
            <%= form.text_field :to_address, id: "to-address", autocomplete: "address", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6", required: true %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="from-city" class="block text-sm/6 font-medium text-gray-900 required">City</label>
          <div class="mt-2">
            <%= form.text_field :from_city, id: "from-city", autocomplete: "city", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6", required: true %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="to-city" class="block text-sm/6 font-medium text-gray-900 required">City</label>
          <div class="mt-2">
            <%= form.text_field :to_city, id: "to-city", autocomplete: "city", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6", required: true %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="from-state-province" class="block text-sm/6 font-medium text-gray-900 required">State/Province</label>
          <div class="mt-2">
            <%= form.text_field :from_state_province, id: "from-state-province", autocomplete: "state-province", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6", required: true %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="to-state-province" class="block text-sm/6 font-medium text-gray-900 required">State/Province</label>
          <div class="mt-2">
            <%= form.text_field :to_state_province, id: "to-state-province", autocomplete: "state-province", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6", required: true %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="from-country" class="block text-sm/6 font-medium text-gray-900 required">Country</label>
          <div class="mt-2">
            <%= form.text_field :from_country, id: "from-country", autocomplete: "country", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6", required: true %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="to-country" class="block text-sm/6 font-medium text-gray-900 required">Country</label>
          <div class="mt-2">
            <%= form.text_field :to_country, id: "to-country", autocomplete: "country", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6", required: true %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="from-zip-postal" class="block text-sm/6 font-medium text-gray-900 required">Zip/Postal Code</label>
          <div class="mt-2">
            <%= form.text_field :from_zip_postal, id: "from-zip-postal", autocomplete: "zip-postal", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6", required: true %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="to-zip-postal" class="block text-sm/6 font-medium text-gray-900 required">Zip/Postal Code</label>
          <div class="mt-2">
            <%= form.text_field :to_zip_postal, id: "to-zip-postal", autocomplete: "zip-postal", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6", required: true %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="from-cargo-available" class="block text-sm/6 font-medium text-gray-900">Cargo Ready Date</label>
          <div class="mt-2">
            <%= form.date_field :from_cargo_available, id: "from-cargo-available", autocomplete: "date", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" %>
          </div>
        </div>
      </div>
    </div>

    <div class="border-b border-gray-900/10 pb-12">
      <h1 class="text-center font-semibold text-gray-900 text-2xl">Contact Information</h1>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3 sm:col-start-1">
          <%= form.label :sender_company, "Company", class: "block text-sm/6 font-medium text-gray-900" %>
          <div class="mt-2">
            <%= form.text_field :sender_company, autocomplete: "sender-company", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <%= form.label :sender_title, "Title", class: "block text-sm/6 font-medium text-gray-900" %>
          <div class="mt-2">
            <%= form.text_field :sender_title, autocomplete: "title", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <%= form.label :sender_firstname, "First name", class: "block text-sm/6 font-medium text-gray-900 required" %>
          <div class="mt-2">
            <%= form.text_field :sender_firstname, autocomplete: "sender-firstname", required: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <%= form.label :sender_lastname, "Last name", class: "block text-sm/6 font-medium text-gray-900 required" %>
          <div class="mt-2">
            <%= form.text_field :sender_lastname, autocomplete: "sender-lastname", required: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <%= form.label :sender_address, "Address", class: "block text-sm/6 font-medium text-gray-900" %>
          <div class="mt-2">
            <%= form.text_field :sender_address, autocomplete: "address", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <%= form.label :sender_city, "City", class: "block text-sm/6 font-medium text-gray-900 required" %>
          <div class="mt-2">
            <%= form.text_field :sender_city, autocomplete: "city", required: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <%= form.label :sender_state_province, "State/Province", class: "block text-sm/6 font-medium text-gray-900 required" %>
          <div class="mt-2">
            <%= form.text_field :sender_state_province, autocomplete: "state-province", required: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <%= form.label :sender_country, "Country", class: "block text-sm/6 font-medium text-gray-900 required" %>
          <div class="mt-2">
            <%= form.text_field :sender_country, autocomplete: "country", required: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <%= form.label :sender_zip_postal, "Zip/Postal Code", class: "block text-sm/6 font-medium text-gray-900" %>
          <div class="mt-2">
            <%= form.text_field :sender_zip_postal, autocomplete: "zip-postal", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <%= form.label :sender_phone, "Phone", class: "block text-sm/6 font-medium text-gray-900" %>
          <div class="mt-2">
            <%= form.text_field :sender_phone, autocomplete: "sender-phone", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <%= form.label :sender_email, "Email", class: "block text-sm/6 font-medium text-gray-900 required" %>
          <div class="mt-2">
            <%= form.email_field :sender_email, autocomplete: "sender-email", required: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" %>
          </div>
        </div>
      </div>
    </div>

    <div class="border-b border-gray-900/10 pb-12">
      <h1 class="text-center font-semibold text-gray-900 text-2xl">Others</h1>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3 sm:col-start-1">
          <%= form.label :amount_requested, "Insurance amount requested", class: "block text-sm/6 font-medium text-gray-900" %>
          <div class="mt-2">
            <%= form.number_field :amount_requested, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <%= form.label :amount_requested_currency, "Currency", class: "block text-sm/6 font-medium text-gray-900" %>
          <div class="mt-2">
            <%= form.select :amount_requested_currency, CURRENCIES, {}, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm/6" %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <%= form.label :marketing_use, "Where did you hear about us?", class: "block text-sm/6 font-medium text-gray-900" %>
          <div class="mt-2">
            <%= form.text_field :marketing_use, autocomplete: "marketing-list", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" %>
          </div>
        </div>
      </div>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3 sm:col-start-1">
          <fieldset>
            <legend class="text-sm/6 font-medium text-gray-900 required">Do you require customs clearance?</legend>
            <div class="mt-6 space-y-6">
              <div class="flex items-center gap-x-3">
                <%= form.radio_button :customs_clearance, true, id: 'quote_customs_clearance_yes', class: "size-4 border-gray-300 text-indigo-600 focus:ring-indigo-600", checked: true %>
                <%= form.label :customs_clearance_yes, "Yes", class: "block text-sm/6 font-medium text-gray-900" %>
              </div>
              <div class="flex items-center gap-x-3">
                <%= form.radio_button :customs_clearance, false, id: 'quote_customs_clearance_no', class: "size-4 border-gray-300 text-indigo-600 focus:ring-indigo-600" %>
                <%= form.label :customs_clearance_no, "No", class: "block text-sm/6 font-medium text-gray-900" %>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="sm:col-span-3">
          <fieldset>
            <legend class="text-sm/6 font-medium text-gray-900 required">Are you an existing customer?</legend>
            <div class="mt-6 space-y-6">
              <div class="flex items-center gap-x-3">
                <%= form.radio_button :existing_customer, true, id: 'quote_existing_customer_yes', class: "size-4 border-gray-300 text-indigo-600 focus:ring-indigo-600", checked: true %>
                <%= form.label :existing_customer_yes, "Yes", class: "block text-sm/6 font-medium text-gray-900" %>
              </div>
              <div class="flex items-center gap-x-3">
                <%= form.radio_button :existing_customer, false, id: 'quote_existing_customer_no', class: "size-4 border-gray-300 text-indigo-600 focus:ring-indigo-600" %>
                <%= form.label :existing_customer_no, "No", class: "block text-sm/6 font-medium text-gray-900" %>
              </div>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3 sm:col-start-1">
          <%= form.label :message, "Comment", class: "block text-sm/6 font-medium text-gray-900" %>
          <div class="mt-2">
            <%= form.text_area :message, placeholder: "Leave your comment here...", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"%>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="mt-6 flex items-center justify-center gap-x-6">
    <%= form.submit "Submit", class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
  </div>
<% end %>


<script>
    // Hiding Banner
    function hideBanner() {
        var banner = document.getElementById('banner');
        banner.style.display = 'none';
    }

    // Hiding flash message
    function hideFlash() {
        var flash_message = document.getElementById('flash_message');
        flash_message.style.display = 'none';
    }

    // Function to remove a row on quote page
    function removeRow(button) {
        const row = button.closest('.form-row');
        row.remove();
    }

    // Get the select element and content sections
    const mode_of_transport = document.getElementById('quote_mode_of_transport');
    const airContent = document.getElementById('airContent');
    const seaContent = document.getElementById('seaContent');

    // Function to toggle the content based on selected mode of transport
    function toggleContent() {
        // Hide both sections initially
        airContent.classList.add('hidden');
        seaContent.classList.add('hidden');

        // Show content based on selection
        if (mode_of_transport.value === 'Air') {
            airContent.classList.remove('hidden');
        } else if (mode_of_transport.value === 'Sea') {
            seaContent.classList.remove('hidden');
        }
    }

    // Initialize by calling the toggleContent function
    mode_of_transport.addEventListener('change', toggleContent);

    // Call it initially to ensure the form starts with the correct visibility
    toggleContent();
</script>
